.topic-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 174px;
  padding-left: 20px;
  padding-right: 20px;

  .title-wrapper {
    font-size: 51px;
    font-weight: 700;
    line-height: 46px;
  }

  .topics-list {
    ul {
      display: flex;
      align-items: center;
      height: 100%;
      list-style: none;
      gap: 16px;

      a {
        font-size: 10px;
        font-weight: 700;
        line-height: 11.74px;

        &:nth-child(1) {
          background: #e2f1e8;
        }

        &:nth-of(2) {
          background: #ffffff;
        }

        &:nth-child(3) {
          background: #f1dada;
        }

        &:nth-child(4) {
          background: #ffffff;
        }

        &:nth-child(5) {
          background: #f1f1e2;
        }

        &:nth-child(6) {
          background: #ffffff;
        }

        &:nth-child(7) {
          background: #ffffff;
        }

        .topic-item {
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;
          border: 1px solid #000;
          border-radius: 4px;
          padding: 12px 16px;
          box-shadow: -2px 2px #000;
        }
      }
    }
  }
}
