.card-wrapper {
  height: 436px;
  padding-top: 56px;
  padding-bottom: 56px;
  padding-left: 40px;
  padding-right: 40px;

  &.card-wrapper-expanded {
    grid-column: 2 / 4;
    grid-row: 2 / 3;
  }
}
