.nav-menu-item {
  width: 33.33%;
  height: 313px;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &:first-child,
  &:nth-child(2) {
    border-right: 1px solid #000;
  }

  .nav-menu-item-inner {
    height: 50%;
    padding: 40px;

    .main-title {
      font-size: 48px;
      font-weight: 700;
      line-height: 46px;
      padding-bottom: 20px;
    }

    .sub-title {
      font-size: 14px;
      font-weight: 400;
      line-height: 24px;
    }
  }
}
